@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: black;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
}

.content {
  height: 100vh;
	width: 150vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block {
    height: 50vh;
    width: 150vh;
    justify-content: center;
    align-items: center;
}

.block_1{
  width: auto;
  height: 26vh;
  display: flex;
}

.block_2{
  width: auto;
  height: 24vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
    height: 100px;
    margin: auto;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 100px;
    font-weight: 700;
    z-index: 100;
}

#you {
    height: 100px;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 500;
}

.name {
    height: 100px;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 500;
}

.text_after {
  height: 100px;
  left: 0;
  right: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 500;
}

.surprise {
    height: 100px;
    margin: auto;
    right: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: 500;
    position: absolute;
}

.btn {
  z-index: 100;
  left:50px;
  top: 0px;
  border: none;
  color: white;
  font-size: 30px;
  position: absolute;
}

.btn_gear {
  z-index: 100;
  left:2px;
  top: 0px;
  border: none;
  color: white;
  font-size: 30px;
  position: absolute;
}

/* 
  You want a simple and fancy tooltip?
  Just copy all [data-tooltip] blocks:
*/
[data-tooltip] {
  position: relative;
  z-index: 10;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + 5px);
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  min-width: 50px;
  max-width: 300px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 14px;
/*   font-size: 0.73rem; */
  background-color: rgba(59, 72, 80, 0.9);
  background-image: linear-gradient(30deg,
    rgba(59, 72, 80, 0.44),
    rgba(59, 68, 75, 0.44),
    rgba(60, 82, 88, 0.44));
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
  content: '';
  border-style: solid;
  border-width: 5px 5px 0px 5px;
  border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
  transition-duration: 0s; /* If the mouse leaves the element, 
                              the transition effects for the 
                              tooltip arrow are "turned off" */
  transform-origin: top;   /* Orientation setting for the
                              slide-down effect */
  transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, -5px) scale(1);
}
/* Slide down effect only on mouseenter (NOT on mouseleave) */
[data-tooltip]:hover:after {
  transition-delay: 0.5s; /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}

.glitch {
  position: relative;
  margin: 0 auto;
  background: #0000;
}
.glitch::before, .glitch::after {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  overflow: hidden;
  position: absolute;
  top: 0;
  clip: rect(0, 900px, 0, 0);
  content: attr(data-text);
}
.glitch::after {
  animation-name: glitch-animation;
  animation-duration: 4s;
  left: 0px;
  text-shadow: -1px 0 #ffa800;
  background: #000000;
  width: 184px;
}
.glitch::before {
  animation-name: glitch-animation-2;
  animation-duration: 5s;
  left: 0px;
  text-shadow: 1px 0 #00d8ff;
  background: #000000;
  width: 184px;
}
/* Expanded Animations */
@keyframes glitch-animation {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
 }
  5% {
    clip: rect(12px, 9999px, 59px, 0);
 }
  10% {
    clip: rect(48px, 9999px, 29px, 0);
 }
  15% {
    clip: rect(42px, 9999px, 73px, 0);
 }
  20% {
    clip: rect(63px, 9999px, 27px, 0);
 }
  25% {
    clip: rect(34px, 9999px, 55px, 0);
 }
  30% {
    clip: rect(86px, 9999px, 73px, 0);
 }
  35% {
    clip: rect(20px, 9999px, 20px, 0);
 }
  40% {
    clip: rect(26px, 9999px, 60px, 0);
 }
  45% {
    clip: rect(25px, 9999px, 66px, 0);
 }
  50% {
    clip: rect(57px, 9999px, 98px, 0);
 }
  55% {
    clip: rect(5px, 9999px, 46px, 0);
 }
  60% {
    clip: rect(82px, 9999px, 31px, 0);
 }
  65% {
    clip: rect(54px, 9999px, 27px, 0);
 }
  70% {
    clip: rect(28px, 9999px, 99px, 0);
 }
  75% {
    clip: rect(45px, 9999px, 69px, 0);
 }
  80% {
    clip: rect(23px, 9999px, 85px, 0);
 }
  85% {
    clip: rect(54px, 9999px, 84px, 0);
 }
  90% {
    clip: rect(45px, 9999px, 47px, 0);
 }
  95% {
    clip: rect(37px, 9999px, 20px, 0);
 }
  100% {
    clip: rect(4px, 9999px, 91px, 0);
 }
}
@keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0);
 }
  5% {
    clip: rect(52px, 9999px, 74px, 0);
 }
  10% {
    clip: rect(79px, 9999px, 85px, 0);
 }
  15% {
    clip: rect(75px, 9999px, 5px, 0);
 }
  20% {
    clip: rect(67px, 9999px, 61px, 0);
 }
  25% {
    clip: rect(14px, 9999px, 79px, 0);
 }
  30% {
    clip: rect(1px, 9999px, 66px, 0);
 }
  35% {
    clip: rect(86px, 9999px, 30px, 0);
 }
  40% {
    clip: rect(23px, 9999px, 98px, 0);
 }
  45% {
    clip: rect(85px, 9999px, 72px, 0);
 }
  50% {
    clip: rect(71px, 9999px, 75px, 0);
 }
  55% {
    clip: rect(2px, 9999px, 48px, 0);
 }
  60% {
    clip: rect(30px, 9999px, 16px, 0);
 }
  65% {
    clip: rect(59px, 9999px, 50px, 0);
 }
  70% {
    clip: rect(41px, 9999px, 62px, 0);
 }
  75% {
    clip: rect(2px, 9999px, 82px, 0);
 }
  80% {
    clip: rect(47px, 9999px, 73px, 0);
 }
  85% {
    clip: rect(3px, 9999px, 27px, 0);
 }
  90% {
    clip: rect(26px, 9999px, 55px, 0);
 }
  95% {
    clip: rect(42px, 9999px, 97px, 0);
 }
  100% {
    clip: rect(38px, 9999px, 49px, 0);
 }
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #5b5b5c;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #919191;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
 }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
 }
}

/* responsive */
@media only screen
and (min-width: 320px)
and (min-height: 568px){
  .btn {
    left: 1vh;
    top: 1vh;
    background: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 20px;
    position: absolute;
  }

  .block {
    height: 30vh;
    width: 57vh;
    justify-content: center;
    align-items: center;
  }

  .block_1{
    width: auto;
    height: 14vh;
    display: flex;
  }
  
  .block_2{
    width: auto;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #clock {
    height: 100px;
    margin: auto;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 700;
    z-index: 100;
  }

  #you {
      height: 100px;
      left: 0;
      right: 0;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      color: white;
      font-size: 26px;
      font-weight: 500;
      z-index: 100;
  }

  .name {
      height: 100px;
      left: 0;
      right: 0;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      color: white;
      font-size: 26px;
      font-weight: 500;
      z-index: 100;
  }

  .text_after {
    height: 100px;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: 500;
  }

  .surprise {
    height: 100px;
    right: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 26px;
    font-weight: 500;
    margin:inherit;
  }
}

@media only screen
and (min-width: 375px)
and (min-height: 667px){
  .btn {
    left: 1vh;
    top: 1vh;
    background: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 24px;
    position: absolute;
  }

  .block {
    height: 30vh;
    width: 47vh;
    justify-content: center;
    align-items: center;
  }

  .block_1{
    width: auto;
    height: 14vh;
    display: flex;
  }
  
  .block_2{
    width: auto;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #clock {
    height: 100px;
    margin: auto;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 54px;
    font-weight: 700;
    z-index: 100;
  }

  #you {
      height: 100px;
      left: 0;
      right: 0;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      color: white;
      font-size: 28px;
      font-weight: 500;
  }

  .name {
      height: 100px;
      left: 0;
      right: 0;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      color: white;
      font-size: 28px;
      font-weight: 500;
  }

  .text_after {
    height: 100px;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: 500;
  }

  .surprise {
    height: 100px;
    margin: auto;
    right: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: 500;
    position: absolute;
  }
}

@media only screen 
and (min-width: 375px)
and (min-height: 812px)
{
  .btn {
    left: 1vh;
    top: 1vh;
    background: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 30px;
    position: absolute;
  }

  .block {
    height: 30vh;
    width: 47vh;
    justify-content: center;
    align-items: center;
  }

  .block_1{
    width: auto;
    height: 14vh;
    display: flex;
  }
  
  .block_2{
    width: auto;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #clock {
    height: 100px;
    margin: auto;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 59px;
    font-weight: 700;
    z-index: 100;
  }

  #you {
      height: 100px;
      left: 0;
      right: 0;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      color: white;
      font-size: 28px;
      font-weight: 500;
  }

  .name {
      height: 100px;
      left: 0;
      right: 0;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      color: white;
      font-size: 28px;
      font-weight: 500;
  }

  .text_after {
    height: 100px;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: 500;
  }

  .surprise {
    height: 100px;
    margin: auto;
    right: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: 500;
    position: absolute;
  }
}

@media only screen 
and (min-width: 414px)
and (min-height: 736px){
  .btn {
    left: 1vh;
    top: 1vh;
    background: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 30px;
    position: absolute;
  }

  .block {
    height: 30vh;
    width: 47vh;
    justify-content: center;
    align-items: center;
  }

  .block_1{
    width: auto;
    height: 14vh;
    display: flex;
  }
  
  .block_2{
    width: auto;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #clock {
    height: 100px;
    margin: auto;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 59px;
    font-weight: 700;
    z-index: 100;
  }

  #you {
      height: 100px;
      left: 0;
      right: 0;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      color: white;
      font-size: 28px;
      font-weight: 500;
  }

  .name {
      height: 100px;
      left: 0;
      right: 0;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      color: white;
      font-size: 28px;
      font-weight: 500;
  }

  .text_after {
    height: 100px;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: 500;
  }

  .surprise {
    height: 100px;
    margin: auto;
    right: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: 500;
    position: absolute;
  }
}



